@charset "utf-8";
* {margin:0;padding:0;}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, img, ins, kbd, q, s, samp, small, strike, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body {line-height:1; overflow:hidden;}
ol, ul {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}

body, html {width:100%;height:100%;background-color:#212329;}
body, textarea, select, input, button {font:12px "Arial", Helvetica, sans-serif;color:#a9aaab;}
a {text-decoration:none;}
a:hover {text-decoration:none;}
button {border:0;padding:0;background:transparent;cursor:pointer;*overflow:visible;}
button::-moz-focus-inner {padding:0;border:0;}
.hidden {visibility:hidden;width:0;height:0;overflow:hidden;font-size:0;line-height:0;padding:0;}

.gnb {height:81px;}
.wrapper {margin:0 auto;text-align:center;font-size:14px;}
.error404, .error500 {padding:320px 0 100px;background:url(./img_error.png) no-repeat center 90px;}
h1.tit {color:#ffffff;font-size:4vw;font-weight:normal;}
p.txt1 {padding-top:12px;font-size:16px;line-height:1.6;}
.error404 ul.link {width:355px;}
.error500 ul.link {width:465px;}
dl.info {padding-top:53px;}
dl.info dt {padding-bottom:8px;color:#ffffff;font-weight:bold;}
dl.info dd {padding-bottom:27px;}
dl.info dd ul li {padding-bottom:14px;}

.bt {
    margin: 50px auto 0;
}
.bt button {
    width: 320px;
    height: 50px;
    margin-left: 7px;
    color: #fff;
    border-radius: 2px;
    background-color: #4d4d4d;
    font-size: 17px;
    text-transform: uppercase
}
.bt button:hover {
    background-color: #666;
}
.bt button:active {
    background-color: #404040;
}

.windowHeadBar {
    /* position: fixed;
    top: 0;
    left: 0; */
    text-align: center;
    padding-top:8px;
    width: 100%;
    height: 20px;
    background-color: rgba(0,0,0,0.4);
    z-index: 20;
    -webkit-app-region: drag;
}

.tools button {
    -webkit-app-region: no-drag;
    position: fixed;
    z-index: 214748364 !important;
}
.tools .closeBt {
    top: 3px;
    right: 7px;
}
.tools .resizeBt {
    bottom: 1px;
    right: 1px;
}
.closeBt {
    width: 23px;
    height: 24px;
    background: url(./bt_close.png) no-repeat 7px 7px;
}
.resizeBt {
    width: 22px;
    height: 23px;
    background: url(./bt_resize.png) no-repeat 0 0;
    cursor: default;
}